/class.log
/document.aux
/document.log
/document.out
/document.lof
/document.lot
/document.toc
/intro.aux
/webtesting.aux
/testbenchdevelop.aux
/testbenchuse.aux
/testbench.aux
/background.aux
/testbenchcompareselenium.aux
/reasondeveloptestbench.aux
/selenium.aux
/appendixA.aux
/document.bbl
/document.blg
/example.log
/appendixB.aux
